@font-face {
    font-family: newFont;
    src: url('./OfficinaSansStd-Bold.otf');
  }


  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6{
    font-family: newfont;
  }
.card-img-top1{
  height: 25vh;
  width: 14vw;
}

@media (max-width: 980px) {


.elecLeftSide{
  display: none;
}
}

.elecLeftSide{
  border-right:1px solid gray;
  height: 135rem;
  }
