.black {
    background-color: black;
}

.gray {
    background-color: gray;
}

.white {
    background-color: rgb(242, 237, 237);
}

.brown {
    background-color: #664B4B;
}

.bro {
    background-color: #C0B996;
}

.red {
    background-color: #a30b0b;
}

.pink {
    background-color: #f0a9a9;
}

.orange {
    background-color: #e9a434;
}

.yellow {
    background-color: #d5f15c;
}

.green {
    background-color: #63e646;
}

.blue {
    background-color: #2da9ec;
}

.darkblue {
    background-color: #2A4D79;
}

.purple {
    background-color: #8B36E4;
}

.bage {
    background-color: #D8CA81;
}

.bage1 {
    background-color: #a86523;
}

.bage2 {
    background-color: #7CFA00;
}

.square {
    width: 30px;
    height: 30px;
    display: inline-block;
}






.MultiCarousel {
    float: left !important;
    overflow: hidden !important;
    padding: 15px !important;
    width: 100% !important;
    position: relative !important;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all !important;
    float: left !important;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left !important;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center !important;
    padding: 10px !important;
    margin: 10px !important;
    background: #f1f1f1 !important;
    color: #666 !important;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute !important;
    border-radius: 50% !important;
    top: calc(50% - 20px) !important;
}

.MultiCarousel .leftLst {
    left: 0 !important;
}

.MultiCarousel .rightLst {
    right: 0 !important;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none !important;
    background: #ccc !important;
}