.title-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    max-height: 150px;
}

@media screen and (max-width: 400px) {

.leftSide {
display: none;
}
}