*{
    box-sizing:border-box  !important;
    margin: 0;
    padding: 0;
}
.imgRow{
    width: 33.34%;
}
.imgRowS{
    width: 25%;
}
.imgRow2{
    width:40%
}

.leftSide{
    border-right:1px solid gray;
    height: 135rem;
    }
    @media (max-width: 989px) {

        .leftSide{
          display: none;
        }
        }
        

     