.imgRow{
    width: 33.34%;
}
.imgRowS{
    width: 25%;
}

.leftSide{
    border-right:1px solid gray;
    height: 135rem;
    }
    @media (max-width: 767px) {

        /* .carousel-item {
          margin-right: 0;
          flex: 0 0 calc(100%/3);
          display: block;
        }
        .carousel-inner {
          display: flex;
        } */
        .leftSide{
          display: none;
        }
        }
        